<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <title>Contact Form</title>
</head>
<body>
<div class="container mt-5">
    <h1>Contact Us</h1>
    <p th:if="${message}" th:text="${message}" class="alert alert-success"></p>
    <form th:action="@{/contact_form/submit}" th:object="${mailDto}" th:method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">firstName</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">lastName</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" th:field="*{message}" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
